
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/RepairDetails.css" rel="stylesheet" />
}
<div class="keep-list">
    <div class="keep-list-in">
        <div class="list-top">
            <div class="top-title">
                <span>报修日期：</span>
                <em>@ViewBag.RepairDetail.CreateDate</em>
            </div>
            <div class="top-content">
                <p>@ViewBag.RepairDetail.Contenet</p>
                @if (ViewBag.RepairDetail.Image != null)
                {
                    <div class="img-content">
                        <img src="@ViewBag.RepairDetail.Image.FileName" />
                    </div>
                }
            </div>
        </div>
        <div class="list-bottom" style="background-color:white;">
            <div class="bottom-title">
                <p>状态跟踪</p>
            </div>
            <div class="state">

                @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
            {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li>受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-one"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li class="current">完成</li>
                    </ul>
                }

            </div>
        </div>

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
        {
            <div class="back">
                <div class="back-title">
                    <p>反馈信息</p>
                </div>
                <p class="back-content">
                    @if (ViewBag.RepairDetail.Response == null)
                    {
                    <p>无</p>
                    }
                    else
                    {
                        @ViewBag.RepairDetail.Response
                    }
                    </p>
                </div>
        }

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
        {
            <div class="col-xs-12 operate">
                <input type="text" id="DateTime" value="@DateTime.Now" readonly class="form_datetime form-control">
            </div>

            <div class="col-xs-12 operate  " style="margin-bottom:3em;">
                <input type="button" class="commit pull-right" id="applybtn" tag="1" value="受理">
            </div>
        }
        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
        {
            <div class="col-xs-12 operate  " style="margin-top:1.5em;margin-bottom:3em;">
                <input type="button" class="commit pull-right" id="applybtn" tag="2" value="确认完成">
            </div>
        }
    </div>
</div>

<input type="hidden" value="@ViewBag.RepairDetail.RepairId" id="repairID" />

@section scripts{
    <script type="text/javascript">

          //初始化时间控件
        $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });

        $('#applybtn').click(function () {
            $(this).attr('disabled', true);
            var repaidID = $('#repairID').val();
            var exceptDate = $('#shoulitime').val();
            var innderNumber = '111';
            var type = $(this).attr('tag');
            ///alert(exceptDate)
            $.post('@Url.Action("RepairDetailJson", "PhoneWeb")', { repaidID: repaidID, exceptDate: exceptDate, innderNumber: innderNumber, type: type }, function (data, status) {
                if (status === 'success') {
                    if (data.msg != 'N') {
                        //window.location.href = '@Url.Action("RepairInterior","PhoneWeb")'
                        window.location.reload();
                    }
                }
            })
        })






    </script>



}
