
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/Repair.css" rel="stylesheet" />
}

<div class="keep">
    <div class="keep-in">
        <div class="keep-content-t clearfix marginB">
            <div class="keep-textarea">
                <textarea placeholder="请输入您要报修的内容..." id="keep"></textarea>
                <em class="br"></em>
            </div>

            <div class="col-xs-12 operate ">
                @*<input type="button" class="add-photo addimages" id="chooseImage">*@
                <img src="#" class="addimages" id="add-phoneimg" />
                <span class="commit pull-right" id="btn" onclick="btn()">提交</span>
            </div>
        </div>

        <div class="keep-content-b">
            <p class="panel panel-default new-title">
                <span>最新报修消息</span>
                <ins></ins>
            </p>
            <div class="panel panel-default new-keep">
                <ul id="messagenew">
                    @if (ViewBag.RepairList != null)
                    {
                        foreach (DoShineMP.Models.Repair r in ViewBag.RepairList as List<DoShineMP.Models.Repair>)
                        {
                            <li>
                                <div class="content-title-t">
                                    @if (r.Image == null)
                                    {
                                        <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                            <p class="wr-content">@r.Contenet</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                            <p class="wr-content">@r.Contenet</p>
                                        </div>
                                        <div class="pull-right w2">
                                            <div class="img">
                                                <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.Image.FileName" class="imgyulan" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="content-title-b">
                                    @switch (r.Status)
                                    {
                                        case DoShineMP.Models.RepairStatus.Apply:
                                            <ins class="check check1 pull-left">已提交</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Accept:
                                            <ins class="check check2 pull-left">已受理</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Handle:
                                            <ins class="check check3 pull-left">处理中</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.FinishHandle:
                                            <ins class="check check4 pull-left">已完成</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Finish:
                                            <ins class="check check4 pull-left">待确认</ins>;
                                            break;
                                    }
                                    <span class="time pull-right">@r.CreateDate</span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.openid" id="openid" />
<input type="hidden" value="" id="serviceid" />


@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/Commons.js"></script>
    <script type="text/javascript">
        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })
        })


        // 微信
        wx.error(function (res) {
            console.log('验证失败');
        });
        wx.ready(function () {
            // 5 图片接口
            // 5.1 拍照、本地选图
            var images = {
                localId: [],
                serverId: []
            };
            document.querySelector('.addimages').onclick = function () {
                wx.chooseImage({
                    success: function (res) {
                        images.localId = res.localIds;

                        if (images.localId.length == 0) {
                            alert('请先使用 chooseImage 接口选择图片');
                            return;
                        }
                        var i = 0, length = 0;
                        images.serverId = [];
                        function upload() {
                            wx.uploadImage({
                                localId: images.localId[i],
                                success: function (res) {
                                    i++;
                                    //alert('已上传：' + i + '张');
                                    images.serverId.push(res.serverId);
                                    $("#serviceid").val(res.serverId);
                                    //alert($("#serviceid").val())
                                    document.getElementById('add-phoneimg').src = res.localId;
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();

                    }
                });
            };

        });






        function btn() {
            var serviceid = $('#serviceid').val();
            var keeptext = $('#keep').val();
            var code = $('#openid').val();
            if (keeptext == '' || keeptext == null) {
                alert('内容不得为空!')
                return false;
            }
            //alert(serviceid);
            $.post('@Url.Action("RepairJson","PhoneWeb")', { code: code, content: keeptext, mediaid: serviceid }, function (data, status) {
                if (status == 'success') {
                    if (data.msg != 'N') {
                        $('#keep').val('');
                        //alert("提交成功！");
                        var str = '';
                        $.each(data, function (i, item) {
                            var time = $.timeStamp2String(item.CreateDate)
                            //alert(item.Status);
                            var statusstr = '';
                            switch (item.Status) {
                                case 5: statusstr = '<ins class="check check1 pull-left">已提交</ins>'; break;
                                case 10: statusstr = '<ins class="check check2 pull-left">已受理</ins>'; break;
                                case 15: statusstr = '<ins class="check check3 pull-left">处理中</ins>'; break;
                                case 20: statusstr = '<ins class="check check4 pull-left">已完成</ins>'; break;
                                case 99: statusstr = '<ins class="check check4 pull-left">待确认</ins>'; break;
                            }
                            if (item.Image == null | item.Image == '') {
                                str += '<li>'
                                    + '<div class="content-title-t">'
                                        + '<div class="pull-left w10" tagid="' + item.RepairId + '" onclick="repairid(' + item.RepairId + ')">'
                                            + '<p class="wr-content">' + item.Contenet + '</p>'
                                        + '</div>'
                                   + ' </div>'
                                   + ' <div class="content-title-b">'
                                        + statusstr
                                        + '<span class="time pull-right">' + time + '</span>'
                                   + ' </div>'
                                + '</li>';
                            } else {
                                str += '<li>'
                                    + '<div class="content-title-t">'
                                        + '<div class="pull-left w8" tagid="' + item.RepairId + '" onclick="repairid(' + item.RepairId + ')">'
                                            + '<p class="wr-content">' + item.Contenet + '</p>'
                                        + '</div>'
                                        + '<div class="pull-right w2">'
                                           + ' <div class="img">'
                                           + '<img src="http://115.159.71.54/DoShineMP/Uploadimgs/' + item.Image.FileName + '" class="imgyulan"/>'
                                           + '</div>'
                                       + ' </div>'
                                   + ' </div>'
                                   + ' <div class="content-title-b">'
                                        + statusstr
                                        + '<span class="time pull-right">' + time + '</span>'
                                   + ' </div>'
                                + '</li>';
                            }

                        })
                        $('#messagenew').html(str);
                        document.getElementById('btn').style.borderColor = '#4ca329';
                        document.getElementById('btn').style.color = '#4ca329';
                        document.getElementById('add-phoneimg').src = '';
                        $('#serviceid').val('');
                        $('#add-phoneimg').attr('src', '#');
                    }
                }
            })
        }

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })

        function repairid(e) {
            //alert(1);
            //alert(e);
            var repairid = $(this).attr('tagid');
            var href = '@Url.Action("RepairDetails", "PhoneWeb")?repairid=' + repairid;
            window.location.href = '@Url.Action("RepairDetails", "PhoneWeb")?repairid=' + e;
        }



    </script>
}
