
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/RepairDetails.css" rel="stylesheet" />
    <link href="~/Styles/star-rating.css" rel="stylesheet" />
}
<div class="keep-list">
    <div class="keep-list-in">
        <div class="list-top">
            @*<div class="top-title">
                    <span>报修日期：</span>
                    <em>@ViewBag.RepairDetail.CreateDate</em>
                </div>*@
            <div class="top-content">
                <p>@ViewBag.RepairDetail.Contenet</p>
                @if (ViewBag.RepairDetail.ImageFiles != null)
                {
                    <div class="img-content">
                        @foreach (DoShineMP.Models.ImageFile I in ViewBag.RepairDetail.ImageFiles as List<DoShineMP.Models.ImageFile>)
                        {

                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@I.FileName" class="imgyulan" />

                        }
                    </div>
                }
            </div>
        </div>
        <div class="informant">
            <p>手机号：<a href="tel:@ViewBag.RepairDetail.PhoneNumber">@ViewBag.RepairDetail.PhoneNumber</a></p>
            @if (ViewBag.RepairDetail.Name != null)
            {
                <p>申请人：@ViewBag.RepairDetail.Name </p>
            }
            else
            {
                <p>申请人： </p>
            }
            <p>报修日期：@ViewBag.RepairDetail.CreateDate</p>
            <p>小区：@ViewBag.RepairDetail.Village.Name</p>
            <p>订单号：@ViewBag.RepairDetail.InnerNumber</p>
        </div>
        <div class="list-bottom">
            <div class="bottom-title">
                <p>状态跟踪</p>
            </div>
            <div class="state">

                @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
            {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li>受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-one"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li class="current">完成</li>
                    </ul>
                }

            </div>
        </div>

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept && ViewBag.RepairDetail.ExceptHandleDate != null)
        {
            <div class="back">
                <div class="back-title">
                    <p>受理反馈</p>
                </div>
                <p class="back-content">
                    亲爱的顾客，我们预计会在
                    <span>@ViewBag.RepairDetail.ExceptHandleDate</span>之前联系您，并提供上门服务，请耐心等待哦
                </p>
            </div>
        }

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
        {
            <div class="back">
                <div class="bottom-title">
                    <p>服务评分</p>
                </div>
                <div class="keep-textarea">
                    <input id="input-21d" value="@ViewBag.RepairDetail.Score" type="number" class="rating" min=0 max=5 step=1 data-size="sm" disabled="disabled">
                </div>
            </div>
        }

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
        {
            <div class="keep-content-t clearfix marginB">
                <div class="bottom-title">
                    <p>服务评分</p>
                </div>
                <div class="keep-textarea">
                    <input id="input-21d" value="0" type="number" class="rating" min=0 max=5 step=1 data-size="sm">
                </div>
                <div class="col-xs-12 operate ">
                    <input type="button" class="commit pull-right" id="btn" value="提交">
                </div>
            </div>
        }
    </div>
</div>



<input type="hidden" value="@ViewBag.RepairDetail.RepairId" id="repairID" />

@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/star-rating.js"></script>
    <script type="text/javascript">
        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })
        })

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })




        jQuery(document).ready(function () {
            $(".rating-kv").rating();
            // alert($('#input-21d').val());
        });
        $('#btn').click(function () {
            $(this).attr('disabled', true);
            var repairID = $('#repairID').val();
            var response = $('#repaircontent').val();
            var score = $('#input-21d').val();
            //alert(score);
            $.post('@Url.Action("RepairsponJson", "PhoneWeb")', { repairID: repairID, response: response, score: score }, function (data, status) {
                if (status === 'success') {
                    if (data.msg == 'Y') {
                        window.location.reload();
                    }
                }
            })
        })


    </script>
}
