
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/Repair.css" rel="stylesheet" />
}

<div class="keep">
    <div class="keep-in">
        <div class="keep-content-t clearfix marginB">
            @* 新添加 模块 *@
            <div class="demonstrate">
                @if (ViewBag.Village != null)
                {
                    <img src="~/Images/Vill/@ViewBag.Village.ImagePath" />
                }
                else
                {
                    <img src="~/Images/xiaoqu.png" />
                }
            </div>
            <div class="my-arranty" id="MyRepair"> 我的报修<span></span></div>
            <div class="housing-box">
                @*<div style="border-bottom:1px solid #ddd;overflow:hidden;">
                     <div class="housing-l">
                          <select class="housing" id="housing"></select>
                     </div>
                      <div class="housing-r">
                          <em class="cire"></em>
                      </div>
                    </div>*@
            </div>
            @* 新添加 姓名 手机号 模块 *@



        @if (ViewBag.RepairList != null)
        {
            <div class="keep-content-b">
                <p class="panel panel-default new-title">
                    <span>最近报修消息</span>
                    <ins></ins>
                </p>
                <div class="panel panel-default new-keep">
                    <ul id="messagenew">

                        @foreach (DoShineMP.Models.Repair r in ViewBag.RepairList as List<DoShineMP.Models.Repair>)
                        {
                            <li>
                                <div class="content-title-t">
                                    @if (r.ImageFiles.Count == 0)
                                    {
                                        <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                            <p class="wr-content">@r.Contenet</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                            <p class="wr-content">@r.Contenet</p>
                                        </div>
                                        <div class="pull-right w2">
                                            <div class="img">
                                                <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="content-title-b">
                                    @switch (r.Status)
                                    {
                                        case DoShineMP.Models.RepairStatus.Apply:
                                            <ins class="check check1 pull-left">已提交</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Accept:
                                            <ins class="check check2 pull-left">已受理</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.FinishHandle:
                                            <ins class="check check3 pull-left">待确认</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Finish:
                                            <ins class="check check4 pull-left">已完成</ins>;
                                            break;
                                        case DoShineMP.Models.RepairStatus.Cancel:
                                            <ins class="check check5 pull-left">已取消</ins>;
                                            break;
                                    }
                                    <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                    @if (r.User.Name != null)
                                    {
                                        <span class="time-l time pull-right">@r.User.Name</span>
                                    }
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        }
    </div>
</div>
<input type="hidden" value="@ViewBag.openid" id="openid" />
<input type="hidden" value="" id="serviceid" />
<input type="hidden" value="@ViewBag.HasUnFinishedRepair" id="HasUnFinishedRepair" />
<input type="hidden" value="@ViewBag.Recordid.RecordId" id="RecordId" />





@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/Commons.js"></script>
    <script type="text/javascript">
        var token;
        var imglength = 5;
        var images = {
            localId: [],
            serverId: []
        };
        $(function () {

            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });

            })
        })

        // 微信
        wx.error(function (res) {
            console.log('验证失败');
        });
        wx.ready(function () {
            // 5 图片接口
            // 5.1 拍照、本地选图
            var images = {
                localId: [],
                serverId: []
            };
            document.querySelector('#add-phoneimg1').onclick = function () {
                wx.chooseImage({
                    count: imglength,
                    success: function (res) {
                        images.localId = res.localIds;
                        if (images.localId.length == 0) {
                            alert('请先使用 chooseImage 接口选择图片');
                            return;
                        }


                        var i = 0, length = 5;
                        images.serverId = [];
                        var str = '';
                        var htmlstr = '';
                        function upload() {
                            wx.uploadImage({
                                localId: images.localId[i],
                                success: function (res) {
                                    //alert('已上传：' + i + '张');
                                    images.serverId.push(res.serverId);
                                    if (i < length) {
                                        if (i == 0 && imglength == 5) {
                                            $("#serviceid").val($("#serviceid").val() + res.serverId);
                                        } else {
                                            $("#serviceid").val($("#serviceid").val() + ',' + res.serverId);
                                        }
                                        //alert(imglength);
                                        htmlstr = ' <img src="' + images.localId[i] + '" class="addimages imagesdelete"  />';
                                        i++;
                                        $('#imgdiv').prepend(htmlstr);
                                        imglength--;
                                        if (imglength == 0) {
                                            $('#add-phoneimg1').hide();
                                            return;
                                        }
                                        //alert($("#serviceid").val());
                                        upload();
                                    }
                                },
                                fail: function (res) {
                                    //alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();

                    }
                });
            };

            isaddress();
        });

        document.getElementById('btn').addEventListener('touchstart', btnstart)
        document.getElementById('btn').addEventListener('touchend', btnend)
        function btnstart() {
            $('#btn').css({ 'background-color': '#4ca329', 'color': '#fff' });
        }
        function btnend() {
            $('#btn').css({ 'background-color': '#fff', 'border': '1px solid #4ca329', 'color': ' #4ca329' });
        }
        function btn() {

            var HasUnFinishedRepair = $('#HasUnFinishedRepair').val();
            if (HasUnFinishedRepair != '0') {
                $('#imgtext').text('有未完成的报修！');
                return false;
            }

            var serviceid = $('#serviceid').val();
            var keeptext = $('#keep').val();
            var code = $('#openid').val();
            var housing = $('#housing').val();
            var name = $('#name').val();
            var phone = $('#phone').val();

            var regu = /^[1][0-9]{10}$/;
            var re = new RegExp(regu);

            if (keeptext == '' || keeptext == null) {
                $('#imgtext').text('内容不得为空！');
                $('#btn').attr('disabled', false);
                return false;
            } else if (name == '' || name == null || phone == '' || phone == null) {
                $('#imgtext').text('姓名、手机号不得为空！');
                $('#btn').attr('disabled', false);
                return false;
            } else if (!re.test(phone)) {
                $('#imgtext').text('请输入正确手机号！');
                $('#btn').attr('disabled', false);
                return false;
            }

            $('#btn').css('border-color', '#ccc');
            $('#btn').css('color', '#ccc');
            $('#btn').attr('disabled', true);


            serviceid = serviceid == null ? '#' : serviceid;
            //alert(serviceid)
            var RecordId = $('#RecordId').val();
            //alert(RecordId);

            $.post('@Url.Action("RepairJson","PhoneWeb")', { code: code, content: keeptext, mediaid: serviceid, address: "", phone: phone, villageid: housing, name: name, recordid: RecordId }, function (data, status) {
                if (status == 'success') {
                    if (data.msg != 'N') {
                        $('#keep').val('');
                        window.location.href = '@Url.Action("RepairDetails", "PhoneWeb")?repairid=' + data[0].RepairId;

                        //alert("提交成功！");
                        //var str = '';
                        //$.each(data, function (i, item) {
                        //    var time = $.timeStamp2String(item.CreateDate).split(' ');
                        //    var statusstr = '';
                        //    switch (item.Status) {
                        //        case 5: statusstr = '<ins class="check check1 pull-left">已提交</ins>'; break;
                        //        case 10: statusstr = '<ins class="check check2 pull-left">已受理</ins>'; break;
                        //        case 15: statusstr = '<ins class="check check3 pull-left">处理中</ins>'; break;
                        //        case 20: statusstr = '<ins class="check check4 pull-left">已完成</ins>'; break;
                        //        case 99: statusstr = '<ins class="check check4 pull-left">待确认</ins>'; break;
                        //    }

                        //    //alert(item.ImageFiles.length == 0)
                        //    if (item.ImageFiles.length == 0) {
                        //        str += '<li>'
                        //            + '<div class="content-title-t">'
                        //                + '<div class="pull-left w10" tagid="' + item.RepairId + '" onclick="repairid(' + item.RepairId + ')">'
                        //                    + '<p class="wr-content">' + item.Contenet + '</p>'
                        //                + '</div>'
                        //           + ' </div>'
                        //           + ' <div class="content-title-b">'
                        //                + statusstr
                        //                + '<span class="time pull-right">' + time[0] + '</span>'
                        //                + '<span class="time-l time pull-right">' + item.User.Name + '</span>'
                        //           + ' </div>'
                        //        + '</li>';
                        //    } else {
                        //        str += '<li>'
                        //            + '<div class="content-title-t">'
                        //                + '<div class="pull-left w8" tagid="' + item.RepairId + '" onclick="repairid(' + item.RepairId + ')">'
                        //                    + '<p class="wr-content">' + item.Contenet + '</p>'
                        //                + '</div>'
                        //                + '<div class="pull-right w2">'
                        //                   + ' <div class="img">'
                        //                   + '<img src="http://115.159.71.54/DoShineMP/Uploadimgs/' + item.ImageFiles[0].FileName + '" class="imgyulan"/>'
                        //                   + '</div>'
                        //               + ' </div>'
                        //           + ' </div>'
                        //           + ' <div class="content-title-b">'
                        //                + statusstr
                        //                + '<span class="time pull-right">' + time[0] + '</span>'
                        //                + '<span class="time-l time pull-right">' + item.User.Name + '</span>'
                        //           + ' </div>'
                        //        + '</li>';
                        //    }
                        //})
                        //alert(str)
                        $('#messagenew').html(str);
                        document.getElementById('btn').style.borderColor = '#4ca329';
                        document.getElementById('btn').style.color = '#4ca329';
                        $('#serviceid').val('');
                        $('#btn').attr('disabled', false);
                        $('.imagesdelete').remove();
                        $('#add-phoneimg1').show();
                        $('#name').val('');
                        $('#phone').val('');
                    }
                }
            })
        }

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })

        function repairid(e) {
            var repairid = $(this).attr('tagid');
            var href = '@Url.Action("RepairDetails", "PhoneWeb")?repairid=' + repairid;
            window.location.href = '@Url.Action("RepairDetails", "PhoneWeb")?repairid=' + e;
        }

        $('#MyRepair').click(function () {
            window.location.href = '@Url.Action("RepairHistory", "PhoneWeb")?IndexLi1=0&openid=' + $('#openid').val();
        })

        //一开始没有地址，则默认拉取
        function isaddress() {
            if ($('#housing').text() == null || $('#housing').text() == '') {
                addressxiaoqu();
            }
        }



        ///获取附近小区
        function addressxiaoqu() {
            wx.getLocation({
                type: 'gcj02', //wgs84 或 gcj02
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。

                    $.post('@Url.Action("GetAllVillage", "PhoneWeb")', { x: latitude, y: longitude }, function (data, status) {
                        var str = '';
                        $.each(data, function (i, item) {
                            str += ' <option value="' + item.VillageId + '">' + item.Name + '</option>';
                        })

                        $('#housing').empty().append(str);
                        //$('#housing')[0].onchange();
                        //if ($('#housing').checked == true) $('#housing').removeAttribute('disabled');
                    })
                },
                fail: function (res) {
                    alert('获取位置失败');
                }
            });
        }
        document.getElementsByClassName('commit')[0].ontouchustart = function () {
            this.style.backgroundColor = '#4ca329';
            this.style.color = '#fff';
        }

    </script>
}
