
@{
    Layout = "~/Views/Shared/_LayoutQiye.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/wytab.css" rel="stylesheet" />
}

<div id="content">
    <div id="leftTabBox" class="tabBox">
        <div class="hd">
            <ul>
                <li><a href="#">待受理</a></li>
                <li><a href="#">待处理</a></li>
                <li><a href="#">已完成</a></li>
                <li><a href="#">已取消</a></li>
            </ul>
        </div>

        <div class="bd">
            @*待受理*@
            <ul class="Padding">
                @if (ViewBag.RepairList5 != null)
                {
                    foreach (DoShineMP.Models.Repair r in ViewBag.RepairList5 as List<DoShineMP.Models.Repair>)
                    {
                        <li id="@r.RepairId">
                            <div class="content-title-t">
                                <!-- <div class="pull-left logo"></div> -->
                                @if (r.ImageFiles.Count == 0)
                                {
                                    <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                    <div class="pull-right w2">
                                        <div class="img">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content-title-b">
                                <ins class="check check1 pull-left">已提交</ins>
                                <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                @if (r.User.Name != null)
                                {
                                    <span class="time-l time pull-right">@r.User.Name</span>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
            @*待处理*@
            <ul class="Padding">
                @if (ViewBag.RepairList10 != null)
                {
                    foreach (DoShineMP.Models.Repair r in ViewBag.RepairList10 as List<DoShineMP.Models.Repair>)
                    {
                        <li id="@r.RepairId">
                            <div class="content-title-t">
                                <!-- <div class="pull-left logo"></div> -->
                                @if (r.ImageFiles.Count == 0)
                                {
                                    <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                    <div class="pull-right w2">
                                        <div class="img">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content-title-b">
                                <ins class="check check2 pull-left">已受理</ins>
                                <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                @if (r.User.Name != null)
                                {
                                    <span class="time-l time pull-right">@r.User.Name</span>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
            @*已完成*@
            <ul class="Padding">
                @if (ViewBag.RepairList20 != null)
                {
                    foreach (DoShineMP.Models.Repair r in ViewBag.RepairList20 as List<DoShineMP.Models.Repair>)
                    {
                        <li id="@r.RepairId">
                            <div class="content-title-t">
                                <!-- <div class="pull-left logo"></div> -->
                                @if (r.ImageFiles.Count == 0)
                                {
                                    <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                    <div class="pull-right w2">
                                        <div class="img">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content-title-b">
                                <ins class="check check3 pull-left">待确认</ins>
                                <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                @if (r.User.Name != null)
                                {
                                    <span class="time-l time pull-right">@r.User.Name</span>
                                }
                            </div>
                        </li>
                    }
                }


                @if (ViewBag.RepairList99 != null)
                {
                    foreach (DoShineMP.Models.Repair r in ViewBag.RepairList99 as List<DoShineMP.Models.Repair>)
                    {
                        <li id="@r.RepairId">
                            <div class="content-title-t">
                                <!-- <div class="pull-left logo"></div> -->
                                @if (r.ImageFiles.Count == 0)
                                {
                                    <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                    <div class="pull-right w2">
                                        <div class="img">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content-title-b">
                                <ins class="check check4 pull-left">已完成</ins>
                                <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                @if (r.User.Name != null)
                                {
                                    <span class="time-l time pull-right">@r.User.Name</span>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
            @*已取消*@
            <ul class="Padding">
                @if (ViewBag.RepairList_1 != null)
                {
                    foreach (DoShineMP.Models.Repair r in ViewBag.RepairList_1 as List<DoShineMP.Models.Repair>)
                    {
                        <li id="@r.RepairId">
                            <div class="content-title-t">
                                <!-- <div class="pull-left logo"></div> -->
                                @if (r.ImageFiles.Count == 0)
                                {
                                    <div class="pull-left w10 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pull-left w8 repaidid" tagid="@r.RepairId" onclick="repairid(@r.RepairId)">
                                        <p class="wr-content">@r.Contenet</p>
                                    </div>
                                    <div class="pull-right w2">
                                        <div class="img">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@r.ImageFiles[0].FileName" class="imgyulan" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content-title-b">
                                <ins class="check check5 pull-left">已取消</ins>
                                <span class="time pull-right">@r.CreateDate.ToString().Split(' ')[0]</span>
                                @if (r.User.Name != null)
                                {
                                    <span class="time-l time pull-right">@r.User.Name</span>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>

        </div>
    </div>
</div>



<input type="hidden" value="" id="serviceid" />

@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/TouchSlide.1.1.js"></script>
    <script src="~/Scripts/zepto.min.js"></script>
    <script src="~/Scripts/cookiecode.js"></script>
    <script src="~/Scripts/locales/touch.js"></script>
    <script type="text/javascript">

        var tabnumber = 4;//分页tab数量
        var IndexLi = 0;

        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })

            var indexli = GetQueryString('IndexLi');

            IndexLi = (indexli == window.localStorage['IndexLi']) ? indexli : window.localStorage['IndexLi'];
            TouchSlide({ slideCell: "#leftTabBox", defaultIndex: IndexLi });
            console.log(IndexLi)
            //tab(IndexLi);
        })


        // 微信
        wx.error(function (res) {
            console.log('验证失败');
        });
        wx.ready(function () {
            // 5 图片接口
            // 5.1 拍照、本地选图
            var images = {
                localId: [],
                serverId: []
            };
            document.querySelector('#add-phoneimg').onclick = function () {
                wx.chooseImage({
                    success: function (res) {
                        images.localId = res.localIds;

                        if (images.localId.length == 0) {
                            alert('请先使用 chooseImage 接口选择图片');
                            return;
                        }
                        var i = 0, length = 0;
                        images.serverId = [];
                        function upload() {
                            wx.uploadImage({
                                localId: images.localId[i],
                                success: function (res) {
                                    i++;
                                    //alert('已上传：' + i + '张');
                                    images.serverId.push(res.serverId);
                                    $("#serviceid").val(res.serverId);
                                    //alert($("#serviceid").val())
                                    document.getElementById('add-phoneimg').src = res.localId;
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();

                    }
                });
            };

        });

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })

        $('.hd li').tap(function () {
            IndexLi = $(this).index();
            //tab(IndexLi);
        });


        $(window).swipeLeft(function () {
            console.log(IndexLi)
            if (IndexLi < tabnumber - 1) {
                IndexLi++;
                //TouchSlide({ defaultIndex: IndexLi});
                //tab(IndexLi);
            }

        })

        function repairid(e) {
            window.localStorage['IndexLi'] = IndexLi;
            window.history.replaceState(null, null, '?IndexLi=' + window.localStorage['IndexLi']);
            window.location.href = '@Url.Action("RepairDetailsInterior", "PhoneWeb")?repairid=' + e + '&IndexLi=' + IndexLi;
        }

        $(window).swipeRight(function () {
            console.log(IndexLi)
            if (IndexLi > 0) {
                IndexLi--;
                console.log(IndexLi)
                //tab(IndexLi);
                //TouchSlide({defaultIndex: IndexLi });
            }
        })

        function tab(enumber) {
            Lilength = $('.Padding').eq(enumber).find('li').length
            var windowHeight = $(window).height();
            LiHeight = 140;
            Height = (Lilength * LiHeight + 10) < (windowHeight - 50) ? (windowHeight - 50) : (Lilength * LiHeight + 10);
            $('.tempWrap .bd').css({ 'height': Height + 'px', 'overflow': 'hidden' })
        }


        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

    </script>
}
