
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/Repair.css" rel="stylesheet" />
}

<div class="keep">
    <div class="keep-in">
        <div class="keep-content-t clearfix marginB">
            <div class="keep-textarea">
                <textarea placeholder="请输入您要保修的内容" id="keep"></textarea>
            </div>
            <div class="col-xs-12 operate ">
                <button type="button" class="commit pull-right" id="btn" onclick="btn()">提交</button>
                <button type="button" class="countermand pull-right" id="btnqx">取消</button>
            </div>

            <div class="go-photo">
                <input type="button" class="add-photo">
            </div>
        </div>
        <div class="keep-content-b">
            <p class="panel panel-default new-title" style="margin-bottom:3vw;">
                <span>最新报修消息</span>
            </p>
            <div class="panel panel-default new-keep">
                <ul id="messagenew">
                    @if (ViewBag.RepairList != null)
                    {
                        foreach (DoShineMP.Models.Repair r in ViewBag.RepairList as List<DoShineMP.Models.Repair>)
                        {
                            <li>
                                <div class="content-title-t">
                                    <div class="pull-left w8">
                                        <p>@r.User.Name</p>
                                        <b>@r.CreateDate</b>
                                    </div>
                                </div>
                                <div class="content-title-b">
                                    <p>@r.Contenet</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.openid" id="openid" />
@section scripts{
    <script src="~/Scripts/Commons.js"></script>
    <script type="text/javascript">
        function btn() {
            var keeptext = $('#keep').val();
            var code = $('#openid').val();
            if (keeptext == '' || keeptext == null) {
                alert('内容不得为空!')
                return false;
            }
            $.post('@Url.Action("RepairJson","PhoneWeb")', { code: code, content: keeptext }, function (data, status) {
                if (status == 'success') {
                    if (data.msg != 'N') {
                        $('#keep').val('');
                        alert("提交成功！");
                        var str = '';
                        $.each(data, function (i, item) {
                            var time = $.timeStamp2String(item.CreateDate)
                            str += '<li>'
                                    + '<div class="content-title-t">'
                                        + '<div class="pull-left w8">'
                                            + '<p>' + item.User.Name + '</p>'
                                            + '<b>' + time + '</b>'
                                        + '</div>'
                                    + '</div>'
                                    + '<div class="content-title-b">'
                                        + '<p>' + item.Contenet + '</p>'
                                    + '</div>'
                                + '</li>';
                        })
                        $('#messagenew').html(str);
                    }
                }
            })
        }

    </script>
}
