
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/RepairDetails.css" rel="stylesheet" />
    <link href="~/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" />
    <link href="~/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" />
    <link href="~/dev/css/mobiscroll.android-ics-2.5.2.css" rel="stylesheet" />
    <link href="~/Styles/star-rating.css" rel="stylesheet" />
    <style>
        .android-ics.light .dwbc {
                background-color: #4bc1cd;
        }

       :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cdcdcd;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cdcdcd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cdcdcd;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cdcdcd;
}
    </style>
}
<div class="keep-list">
    <div class="keep-list-in">
        <div class="list-top">
            @*<div class="top-title">
                    <span>报修日期：</span>
                    <em>@ViewBag.RepairDetail.CreateDate</em>
                </div>*@

            <div class="top-content">
                <p>@ViewBag.RepairDetail.Contenet</p>
                @if (ViewBag.RepairDetail.ImageFiles != null)
                {
                    <div class="img-content">
                        @foreach (DoShineMP.Models.ImageFile I in ViewBag.RepairDetail.ImageFiles as List<DoShineMP.Models.ImageFile>)
                        {

                            <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@I.FileName" class="imgyulan" />

                        }
                    </div>
                }
            </div>
        </div>

        <div class="informant">
            <p>手机号：<a href="tel:@ViewBag.RepairDetail.PhoneNumber">@ViewBag.RepairDetail.PhoneNumber</a></p>
            @if (ViewBag.RepairDetail.Name != null)
            {
                <p>申请人：@ViewBag.RepairDetail.Name </p>
            }
            else
            {
                <p>申请人： </p>
            }
            <p>报修日期：@(ViewBag.RepairDetail.CreateDate != null ? ViewBag.RepairDetail.CreateDate : "")</p>
            <p>小区：@(ViewBag.RepairDetail.Village.Name != null ? ViewBag.RepairDetail.Village.Name : "")</p>
            <p>订单号：@(ViewBag.RepairDetail.InnerNumber != null ? ViewBag.RepairDetail.InnerNumber : "")</p>
        </div>
        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
        {
            <div class="choose ">
                <h4>请选择处理状态:</h4>
                <ul class="service" id="RepairFinishTypeid">
                    <li class="current" typeid="Fixed">已修复</li>
                    <li typeid="Unfixed">未修复</li>
                    <li typeid="OutOfRange">不属于维保范围</li>
                </ul>
                <div class="choose-title">
                    <textarea class="choose-input" placeholder="请描述现场处理概况..." id="describe"></textarea>
                    <div class="choose-photo" id="choose-photo">
                        <img src="~/Images/tianjia2x.png" class="add-photo" id="add-photo">
                    </div>
                </div>
            </div>
        }
        <div class="list-bottom" style="background-color:white;">
            <div class="bottom-title">
                <p>状态跟踪</p>
            </div>
            <div class="state">

                @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
            {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li>受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-one"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li>确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li>完成</li>
                    </ul>
                }
                else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
                {
                    <div class="state-in">
                        <ul class="state-ul">
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                            <li class="current"></li>
                        </ul>
                        <span class="line"></span>
                        <span class="line-current left-two"></span>
                    </div>
                    <ul class="state-time">
                        <li class="current">提交</li>
                        <li class="current">受理</li>
                        <li class="current">确认</li>
                        <li class="current">完成</li>
                    </ul>
                }

            </div>
        </div>

        <div class="choose ">
           <h4>请选择处理状态:</h4>
            <ul class="service">
                <li class="current">已修复</li>
                <li>未修复</li>
                <li>不属于维保范围</li>
            </ul>
            <div class="choose-title">
                <textarea class="choose-input" placeholder="请描述现场处理概况..."></textarea>
                <div class="choose-photo">
                    <img src="~/Images/logo.png" />
                    <img src="~/Images/logo.png" />
                    <img src="~/Images/logo.png" />
                    <img src="~/Images/tianjia2x.png" class="add-photo">
                </div>
            </div>
        </div>


        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
        {
            <div class="keep-content-t clearfix marginB">
                <div class="bottom-title">
                    <p>服务评分</p>
                </div>
                <div class="keep-textarea">
                    <input id="input-21d" value="@ViewBag.RepairDetail.Score" type="number" class="rating" min=0 max=5 step=1 data-size="sm" disabled="disabled">
                </div>
            </div>
        }

        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
        {
            <div class="content">
                <div class="demos">
                    <input type="text" name="appDateTime" id="appDateTime" placeholder="点击选择上门处理时间" onclick="Ch()" />
                </div>
                <div class="col-xs-12 operate  " style="margin-bottom:3em;">
                    <input type="button" class="commit pull-right" id="applybtn" tag="1" value="受理" disabled="disabled">
                    @*取消按钮*@
                    <input type="button" class="commit pull-right" id="applybtn" tag="2" value="取消">
                </div>

            </div>
        }
        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
        {
            <div class="col-xs-12 operate ">
                <input type="button" class="commit pull-right" id="applybtn" tag="2" value="确认完成">
                @*取消按钮*@
                <input type="button" class="commit pull-right" id="applybtn" tag="2" value="取消" style="background-color:#dedede">
            </div>
            
        }
    </div>
</div>

<input type="hidden" value="@ViewBag.RepairDetail.RepairId" id="repairID" />
<input type="hidden" value="" id="serviceid" />

@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/dev/js/mobiscroll.core-2.5.2.js"></script>
    <script src="~/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
    <script src="~/dev/js/mobiscroll.datetime-2.5.1.js"></script>
    <script src="~/dev/js/mobiscroll.datetime-2.5.1-zh.js"></script>
    <script src="~/dev/js/mobiscroll.android-ics-2.5.2.js"></script>
    <script src="~/Scripts/star-rating.js"></script>
    <script type="text/javascript">
        var token;
        var imglength = 3;
        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })
            // 微信
            wx.error(function (res) {
                console.log('验证失败');
            });
            wx.ready(function () {
                // 5 图片接口
                // 5.1 拍照、本地选图
                var images = {
                    localId: [],
                    serverId: []
                };
                document.querySelector('#add-photo').onclick = function () {
                    wx.chooseImage({
                        count: imglength,
                        success: function (res) {
                            images.localId = res.localIds;
                            if (images.localId.length == 0) {
                                alert('请先使用 chooseImage 接口选择图片');
                                return;
                            }


                            var i = 0, length = 3;
                            images.serverId = [];
                            var str = '';
                            var htmlstr = '';
                            function upload() {
                                wx.uploadImage({
                                    localId: images.localId[i],
                                    success: function (res) {
                                        images.serverId.push(res.serverId);
                                        if (i < length) {
                                            if (i == 0 && imglength == length) {
                                                $("#serviceid").val($("#serviceid").val() + res.serverId);
                                            } else {
                                                $("#serviceid").val($("#serviceid").val() + ',' + res.serverId);
                                            }
                                            //alert(imglength);
                                            htmlstr = ' <img src="' + images.localId[i] + '" class="imgyulan"  />';
                                            i++;
                                            $('#choose-photo').prepend(htmlstr);
                                            imglength--;
                                            if (imglength == 0) {
                                                $('#add-photo').hide();
                                                return;
                                            }
                                            upload();
                                        }
                                    },
                                    fail: function (res) {
                                    }
                                });
                            }
                            upload();

                        }
                    });
                };

            });
        })





        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })


        //初始化时间控件
        $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });

        jQuery(document).ready(function () {
            $(".rating-kv").rating();
        });

        //提交
        $('#applybtn').click(function () {
            $(this).attr('disabled', true);
            var repaidID = $('#repairID').val();
            var exceptDate = $('#appDateTime').val();
            var innderNumber = $('#input-21d').val();
            var type = $(this).attr('tag');


            var serviceid = $('#serviceid').val();
            var describe = $('#describe').val();
            var RepairFinishTypeid = $('#RepairFinishTypeid').find('.current').attr('typeid');


            if (type == '1') {
            $.post('@Url.Action("RepairDetailJson", "PhoneWeb")', { repaidID: repaidID, exceptDate: exceptDate, innderNumber: innderNumber, type: type }, function (data, status) {
                if (status === 'success') {
                    if (data.msg != 'N') {
                        window.localStorage['IndexLi'] = new Number(window.localStorage['IndexLi']) + 1;
                        window.history.go(-1);
                    }
                }
            })
            } else if (type == '2') {
                $.post('@Url.Action("RepairDetailWJson", "PhoneWeb")', { repaidID: repaidID, serviceid: serviceid, describe: describe, type: RepairFinishTypeid }, function (data, status) {
                    if (status === 'success') {
                        if (data.msg != 'N') {
                            window.localStorage['IndexLi'] = new Number(window.localStorage['IndexLi']) + 1;
                            window.history.go(-1);
                        }
                    }
                })
            }

        })

        

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }



    </script>




    <script type="text/javascript">
        $(function () {
            setInterval(Time, 1000);
            var currYear = (new Date()).getFullYear();
            var opt = {};
            opt.date = { preset: 'date' };
            //opt.datetime = { preset : 'datetime', minDate: new Date(2012,3,10,9,22), maxDate: new Date(2014,7,30,15,44), stepMinute: 5  };
            opt.datetime = { preset: 'datetime' };
            opt.time = { preset: 'time' };
            opt.default = {
                theme: 'android-ics light', //皮肤样式
                display: 'bottom', //显示方式
                mode: 'scroller', //日期选择模式
                lang: 'zh',
                startYear: currYear - 10, //开始年份
                endYear: currYear + 10 //结束年份
            };

            // $("#appDate").val('').scroller('destroy').scroller($.extend(opt['date'], opt['default']));
            var optDateTime = $.extend(opt['datetime'], opt['default']);
            var optTime = $.extend(opt['time'], opt['default']);
            $("#appDateTime").mobiscroll(optDateTime).datetime(optDateTime);


            // $("#appTime").mobiscroll(optTime).time(optTime);

            //下面注释部分是上面的参数可以替换改变它的样式
            //希望一起研究插件的朋友加我个人QQ也可以，本人也建个群 291464597 欢迎进群交流。哈哈。这个不能算广告。
            // 直接写参数方法
            //$("#scroller").mobiscroll(opt).date();
            // Shorthand for: $("#scroller").mobiscroll({ preset: 'date' });
            //具体参数定义如下
            //{
            //preset: 'date', //日期类型--datatime --time,
            //theme: 'ios', //皮肤其他参数【android-ics light】【android-ics】【ios】【jqm】【sense-ui】【sense-ui】【sense-ui】
            //【wp light】【wp】
            //mode: "scroller",//操作方式【scroller】【clickpick】【mixed】
            //display: 'bubble', //显示方【modal】【inline】【bubble】【top】【bottom】
            //dateFormat: 'yyyy-mm-dd', // 日期格式
            //setText: '确定', //确认按钮名称
            //cancelText: '清空',//取消按钮名籍我
            //dateOrder: 'yymmdd', //面板中日期排列格
            //dayText: '日',
            //monthText: '月',
            //yearText: '年', //面板中年月日文字
            //startYear: (new Date()).getFullYear(), //开始年份
            //endYear: (new Date()).getFullYear() + 9, //结束年份
            //showNow: true,
            //nowText: "明天",  //
            //showOnFocus: false,
            //height: 45,
            //width: 90,
            //rows: 3}
        });

        $('#applybtn[tag="1"]').css('background-color', '#ddd')
        function Time() {

            if ($('#appDateTime').val() != null && $('#appDateTime').val() != '') {
                $('#applybtn').attr({ 'disabled': false }).css('background-color', '#4ca329')
            }
        }

        // 处理状态js
        $('.service li').click(function () {
               $(this).addClass('current').siblings().removeClass('current')
        })

    </script>


}
